* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body    {
    height: 100vh;
    width: 100%;
    background-color: #333;
    background-image: url(../assets/img/bg3.jpg);
    background-size: cover;
}


.header     {
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


footer {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.footerList {
    font-size: 1.5rem;
}

nav div {
    margin-top: 3%;
}


.navItem    {
    display: inline-flex;
    padding: 0px 2rem 0px 2rem;
    text-decoration: none;
}


.indexMain    {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexH1    {
    font-size: 4rem;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
}


.SobreNosDiv    {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SobreNosH1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
}

.SobreNosP    {
    background-color: #999;
    margin: 5%;
    padding: 2%;
    border: solid #000 2px;
}


.imgH1    {
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.linea     {
    background: #000;
    height: 5px;
    width: 100%;
    display: block;
}



.imagenes   {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 5px; 
    padding: 20px;
}

.img    {
    width: 100%;
    height: 100%;
    border: solid #fff 2px;
    border-radius: 3px;
    object-fit: cover;
}

.imgDiv:nth-child(1)    {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.imgDiv:nth-child(2)    {
    grid-column-start: span 2;
}

.imgDiv:nth-child(3)    {
    grid-row-start: span 2;
}

.imgDiv:nth-child(4)    {
    grid-row-start: span 2;
}


.imgDiv:hover   {
    transform: scale(120%);
    transition: .8s;
}



@media (max-width: 1200px) {
    .imagenes   {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 3%;
    }

    .imgDiv:nth-child(1)    {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }
    
    .imgDiv:nth-child(2)    {
        grid-column-start: span 1;
        grid-row-start: span 2;
    }

    .imgDiv:nth-child(3)    {
        grid-column-start: span 1;
        grid-row-start: span 2;
    }

}

@media (max-width: 768px) {
    .imagenes   {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        grid-gap: 3%;
    }

    .imgDiv    {
        max-height: 200px;
    }

    .imgDiv:nth-child(1)    {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    
    .imgDiv:nth-child(2)    {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .imgDiv:nth-child(3)    {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .imgDiv:nth-child(4)    {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .imgDiv:nth-child(5)    {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .imgDiv:nth-child(6)    {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

}


a   {
    text-decoration: none;
    color: #fff;
}

.contactoH1    {
    text-align: center;
    padding: .5rem;
    color: #fff;
}


.navItem :hover {
    color: #999;
    transition: .35s;
}


form    {
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

fieldset    {
    padding: 13px;
    width: max-content;
    background-color: #555;
}

input, textarea    {
    outline: none;
    width: 97%;
    margin-top: 8px;
}

#genero    {
    outline: none;
    margin-bottom: 8px;
}

.field  {
    border: solid 2px #000;
    border-radius: 2px;
    padding: 5px;
}

.field:focus    {
   border-color: #999;
}

#sendE    {
    margin-left: 20%;
    width: 80px;
    height: 25px;
    background-color: #fff; 
    border: solid #333 2px;
    border-radius: 4px;
    cursor: pointer;
}

#sendE:hover    {
    background-color: #999;
    color: #fff;
    transition: .3s;
}

#sendR    {
    margin-left: 10%;
    width: 165px;
    height: 25px;
    background-color: #fff; 
    border: solid #333 2px;
    border-radius: 4px;
    cursor: pointer;
}

#sendR:hover    {
    background-color: #999;
    color: #fff;
    transition: .3s;
}



::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #fff; 
}
   
::-webkit-scrollbar-thumb {
    background: #000; 
}

::-webkit-scrollbar-thumb:hover {
    background: #999; 
}